---
import "../styles/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="theme-color"
      content="#fff8f5"
      media="(prefers-color-scheme: light)"
    />
    <meta
      name="theme-color"
      content="rgb(29, 29, 29)"
      media="(prefers-color-scheme: dark)"
    />

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />

    <!-- HTML Meta Tags -->
    <title>Thenics Pro</title>
    <meta name="description" content="The best way to take notes" />
    <link rel="canonical" href="" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wonder Noty App" />
    <meta property="og:description" content="" />
    <meta property="og:image" content="" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="" />
    <meta property="twitter:url" content="" />
    <meta name="twitter:title" content="Thenics Pro" />
    <meta name="twitter:description" content="The best way to take notes" />
    <meta name="twitter:image" content="" />

    <!-- Tags found on other websites  -->
    <meta name="appstore:bundle_id" content="com.wondertech.notyapp" />
    <meta name="appstore:store_id" content="com.wondertech.notyapp" />
    <meta name="thumbnail" content="" />

    <!-- Plus Jakarta Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <img
          class="logo"
          alt="Wonder Noty App"
          src="images/ios-icon.png"
          srcset="images/ios-icon@2x.png 2x, images/ios-icon@3x.png 3x"
        />
        <div class="logotype-tagline-container">
          <h1 class="logotype">Wonder Noty App</h1>
          <h2 class="tagline" style="opacity: 0.5">
            The best way to take notes
          </h2>
        </div>
      </div>

      <picture>
        <source
          media="(prefers-color-scheme: dark)"
          src="images/qr-download-on-dark.png"
          srcset="
            images/qr-download-on-dark@2x.png 2x,
            images/qr-download-on-dark@3x.png 3x
          "
        />

        <img
          class="qr-download"
          alt="Scannable QR code to download Wonder Noty App"
          src="images/qr-download-on-light.png"
          srcset="
            images/qr-download-on-light@2x.png 2x,
            images/qr-download-on-light@3x.png 3x
          "
        />
      </picture>
      <div class="store-badge-container">
        <a
          class="store-badge store-badge-apple"
          href="/ios"
          onclick="onClickAppStore()"
        >
          <picture>
            <source
              media="(prefers-color-scheme: dark)"
              src="images/app-store-badge-on-dark.png"
              srcset="
                images/app-store-badge-on-dark@2x.png 2x,
                images/app-store-badge-on-dark@3x.png 3x
              "
            />

            <img
              class="app-store-badge-on"
              alt="Download on the App Store badge"
              src="images/app-store-badge-on-light.png"
              srcset="
                images/app-store-badge-on-light@2x.png 2x,
                images/app-store-badge-on-light@3x.png 3x
              "
            />
          </picture>
        </a>
      </div>

      <picture class="screenshot-parent">
        <source
          media="(prefers-color-scheme: dark)"
          src="images/screenshot-dark.png"
          srcset="
            images/screenshot-dark@2x.png 2x,
            images/screenshot-dark@3x.png 3x
          "
        />

        <img
          class="screenshot"
          alt="Screenshot of the Thenics Pro mobile app displaying a list of items, a search bar at the top, buttons for loyalty cards and shopping cart, and a member avatar on the screen."
          src="images/screenshot-light.png"
          srcset="
            images/screenshot-light@2x.png 2x,
            images/screenshot-light@3x.png 3x
          "
        />
      </picture>

      <a href="https://privacy.donmanuel.dev/notyapp/noty_privacidad.html"
        >🔒 Privacy</a
      >
      <br />
      <a href="https://twitter.com/manuelduarte077">© Manuel Duarte</a>
    </div>
  </body>
</html>
